/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

.frame-card {
  border: 2px solid #d3e6ec;
  /* Add a border to create a frame-like appearance */
  border-radius: 10px;
  /* Optional: Add rounded corners */
  padding: 20px;
}

center {
  display: flex;
  justify-content: center;
  text-align: center;
  // align-items: center;
  /* height: 100vh; */
}
